
.loader{
  height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    
}
.wait{
  display: none;
}
.logopart1{
  /* animation: move 2s   forwards 1; */
  position: absolute;
  /* margin-left: 30%; */
  animation-fill-mode: forwards;
  animation-name: move ,add;
  animation-delay: 0s, 5s;
  animation-duration: 2s; /* same for all */
}
@keyframes add{
  0%{
      margin-left: -10%;
  }
  100%{
      margin-left: 150%;
  }
}
@keyframes move{
  0%{
      margin-right:100%;
  }
  75%{
      margin-left: 40%;
  }
  100%{
      margin-left: 0px;
  }
}

.logoparta{
  animation: movea 3s   forwards 1;
  opacity: 0;
  /* display: none; */
  animation-delay: 2s;
  position: relative;
  margin-bottom: 500px;

}
@keyframes movea{
  0%{
      /* margin-top: 600px; */
      margin-bottom: 0px;
  rotate: 0;
  }
  50%{
      margin-bottom: 500px;
      opacity: 1;
      rotate: 45deg;
      transform: rotateX('30deg');
  }
  75%{
      /* margin-top: 0px; */
      margin-bottom: 500px;
      margin-right: 300px;
      opacity: 1;
      transform: rotateX('60deg');
     
  }
  80%{
      margin-bottom: 500px;
      margin-right: 300px;
      opacity: 1;
      transform: rotateX('60deg');
      
  }
  100%{
      margin-right: 5px;
      margin-bottom:0px ;
      opacity: 1;
      transform: rotateX('90deg');
      z-index: 6;
      /* display: none; */
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .logoparta{
    animation: movea 3s   forwards 1;
    animation-delay: 2s;
    position: relative;
    margin-bottom: 300px;
  
  }
  @keyframes movea{
    0%{
        /* margin-top: 600px; */
        margin-bottom: 0px;
        rotate: 0;
    }
    50%{
        margin-bottom: 200px;
        opacity: 1;
        rotate: 45deg;
        transform: rotateX('30deg');
    }
    75%{
        /* margin-top: 0px; */
        margin-bottom: 200px;
        margin-right: 160px;
        opacity: 1;
        transform: rotateX('60deg');
       
    }
    80%{
        margin-bottom: 180px;
        margin-right: 100px;
        opacity: 1;
        transform: rotateX('60deg');
        
    }
    100%{
        margin-right: 5px;
        margin-bottom:0px ;
        opacity: 1;
        transform: rotateX('90deg');
        z-index: 6;
        /* display: none; */
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .logoparta{
    animation: movea 3s   forwards 1;
    animation-delay: 2s;
    position: relative;
    margin-bottom: 300px;
  
  }
  @keyframes movea{
    0%{
        /* margin-top: 600px; */
        margin-bottom: 0px;
        rotate: 0;
    }
    50%{
        margin-bottom: 200px;
        opacity: 1;
        rotate: 45deg;
        transform: rotateX('30deg');
    }
    75%{
        /* margin-top: 0px; */
        margin-bottom: 200px;
        margin-right: 100px;
        opacity: 1;
        transform: rotateX('60deg');
       
    }
    80%{
        margin-bottom: 180px;
        margin-right: 100px;
        opacity: 1;
        transform: rotateX('60deg');
        
    }
    100%{
        margin-right: 5px;
        margin-bottom:0px ;
        opacity: 1;
        transform: rotateX('90deg');
        z-index: 6;
        /* display: none; */
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 760px) {
  .logoparta{
    animation: movea 3s   forwards 1;
    animation-delay: 2s;
    position: relative;
    margin-bottom: 300px;
  
  }
  @keyframes movea{
    0%{
        /* margin-top: 600px; */
        margin-bottom: 0px;
        rotate: 0;
    }
    50%{
        margin-bottom: 200px;
        opacity: 1;
        rotate: 45deg;
        transform: rotateX('30deg');
    }
    75%{
        /* margin-top: 0px; */
        margin-bottom: 200px;
        margin-right: 40px;
        opacity: 1;
        transform: rotateX('60deg');
       
    }
    80%{
        margin-bottom: 180px;
        margin-right: 50px;
        opacity: 1;
        transform: rotateX('60deg');
        
    }
    100%{
        margin-right: 5px;
        margin-bottom:0px ;
        opacity: 1;
        transform: rotateX('90deg');
        z-index: 6;
        /* display: none; */
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .logoparta{
  opacity: 1;
    
    position: relative;
    margin-bottom: 400px;
    animation: none;
  
  }
  
.logopart1{
  position: absolute;
  animation: none;
}
.wait{
  display: flex;
  position: relative;
  bottom: 10%;
  color: white;
  justify-content: center;
  margin-bottom: 10px;
}
.loader{
 height: 96vh;
}
}