.teampage{
    height: 89vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

}
.aboutpageheading{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.profiles{
    display: flex;
    columns: 50px 4;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.prof profile{
    margin: 20px;
    padding: 20px;
}